@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 91.4vh;
    background-color: #17202A;
}

.container{
    padding: 20px;
    box-shadow: 3px 3px 20px #00000d;
    background: #f5f5f5;
    border-radius: 10px;
    margin: 10px;
    margin-top: 50px;

}

.container .header-content {
    margin-top: 100px;
}

.formFields {
    margin-bottom: 20px; 
    margin-right: 10px; /* Separación a la derecha para los campos */
}



.container  .filterEntries{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filterEntries .entries{
    color: #17202A;

}


.filterEntries .entries select .filterEntries .filter input{
    padding: 7px 10px;
    border: 1px solid #00000d;
    color: #00000d;
    background: #17202A;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.filterEntries .entries select{
    padding: 5px 10px;
}


.filterEntries .filter{
    display: flex;
    align-items: center;
}

.filter label{
    color: #00000d;
    margin-right: 5px;
}

.filter input:focus{
    border-color: #424949;
}

.container .addMenberbtn{
    margin-bottom: 15px;

}

.addMenberbtn button{
    padding: 9px 14px;
    color: #f5f5f5;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid #424949;
    background: #17202A;
    border-radius: 5px;
}

.addMenberbtn button:hover{
    background: #5F6A6A;

}

.container table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}



table .heading{
    background: #17202A;
    color: #f5f5f5;

}



table tr th, table tr td{
    padding: 4px 15px;
}

table tr th{
    padding: 12px 15px;
}

table tr td:nth-child(1), table tr tdn:nth-child(2){
    text-align: left;
}


table tr td{
    border-bottom: 1px solid #E5E7E9;
    font-size: 15px;
}

table tbody tr:first-child td{
    border-top: 1px solid #E5E7E9;
}

table td button{
    margin: 0 3px;
    padding: 5px;
    width: 35px;
    background: transparent;
    font-size: 15px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid #424949;
}

.container footer{
    margin-top: 25px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container footer span{
    color: #f5f5f5;
}

footer .pagination{
    display: flex;
}

footer .pagination button{
    width: 40px;
    padding: 5px 0;
    color: #f5f5f5;
    background: #17202A;
    font-size: 14px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid #00000d;
    border-left: none;
    margin: 0;
}

.pagination button.active, .pagination button:hover{
    background: #424949;
}

table tr .empty{
    padding: 10px;
    background: #E5E7E9;
}


