{% extends "dashboard/index.html" %}
{% load static %}
{% block title %}Registrar Usuario{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Registrar Usuario</h2>
    <div class="row justify-content-center">
        <!-- Formulario de Registro de Usuario -->
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    Registrar Usuario
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" id="register-form">
                        {% csrf_token %}
                        {{ form.username.errors }}
                        <div class="mb-3">
                            <label for="{{ form.username.id_for_label }}" class="form-label">Nombre de Usuario</label>
                            {{ form.username }}
                        </div>
                        {{ form.email.errors }}
                        <div class="mb-3">
                            <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                            {{ form.email }}
                        </div>
                        {{ form.first_name.errors }}
                        <div class="mb-3">
                            <label for="{{ form.first_name.id_for_label }}" class="form-label">Nombre</label>
                            {{ form.first_name }}
                        </div>
                        {{ form.last_name.errors }}
                        <div class="mb-3">
                            <label for="{{ form.last_name.id_for_label }}" class="form-label">Apellido</label>
                            {{ form.last_name }}
                        </div>
                        {{ form.password1.errors }}
                        <div class="mb-3">
                            <label for="{{ form.password1.id_for_label }}" class="form-label">Contraseña</label>
                            {{ form.password1 }}
                            <small class="form-text text-muted">La contraseña debe tener al menos 8 caracteres, no debe ser comúnmente usada y debe contener al menos un número y una letra.</small>
                        </div>
                        {{ form.password2.errors }}
                        <div class="mb-3">
                            <label for="{{ form.password2.id_for_label }}" class="form-label">Confirmar Contraseña</label>
                            {{ form.password2 }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.profile_picture.id_for_label }}" class="form-label">Agregar Foto de Perfil</label>
                            <input type="file" name="profile_picture" class="form-control-file" id="{{ form.profile_picture.id_for_label }}">
                        </div>
                        <div class="mb-3 d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-primary">Registrar Usuario</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // Mostrar alertas de éxito o error
    {% if messages %}
        {% for message in messages %}
            Swal.fire({
                icon: '{{ message.tags }}' === 'error' ? 'error' : 'success',
                title: '{{ message }}',
                showConfirmButton: false,
                timer: 3000
            });
        {% endfor %}
    {% endif %}
</script>
{% endblock %}
