{% extends "dashboard/index.html" %}
{% load static %}

{% block content %}



<body> 
    <div class="container_home">
    <img class="home_img" src="{% static "imagen-re.png" %}">
    <h1 class="home_h1">Bienvenido a Howard Bilingual School</h1>
    </div>
    
    <script src="{% static "js/bootstrap.bundle.js" %}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static "home.js" %}"></script>
</body>
{% endblock %}