<form id="tipoturnoForm" method="post" action="{% if form.instance.pk %}{% url 'tipo_turno_edit' form.instance.pk %}{% else %}{% url 'tipo_turno_add' %}{% endif %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="dias">Dias:</label>
        {{ form.dias }}
        {% if form.dias.errors %}
            <div class="alert alert-danger">{{ form.dias.errors }}</div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="hora_entrada">Hora_entrada:</label>
        {{ form.hora_entrada }}
        {% if form.hora_entrada.errors %}
            <div class="alert alert-danger">{{ form.hora_entrada.errors }}</div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="hora_salida">Hora_salida:</label>
        {{ form.hora_salida }}
        {% if form.hora_salida.errors %}
            <div class="alert alert-danger">{{ form.hora_salida.errors }}</div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="formato">Formato:</label>
        {{ form.formato }}
        {% if form.formato.errors %}
            <div class="alert alert-danger">{{ form.formato.errors }}</div>
        {% endif %}
    </div>
</form>
