{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Menú lateral{% endblock %}</title>

    <!-- bootstrap local -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-utilities.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-reboot.min.css' %}" rel="stylesheet">

    <!-- fontawesome local -->
    <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/brands.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/solid.min.css' %}" rel="stylesheet">

    <!-- sweetalert2 -->
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">

    <link rel="stylesheet" href="{% static "dashboard.css" %}">
    <link rel="stylesheet" href="{% static "crud-styles.css" %}">
    <link rel="stylesheet" href="{% static "home.css" %}">
    {% block styles %}{% endblock %}
</head>
<body id="body">
    {% csrf_token %}
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
        <div class="profile-container">
            {% if request.user.profile_picture %}
                <img src="{{ request.user.profile_picture.url }}" alt="Perfil" class="profile-btn" id="profile-btn">
            {% else %}
                <img src="{% static 'profile-image.jpg' %}" alt="Perfil" class="profile-btn" id="profile-btn">
            {% endif %}
            <div class="dropdown-menu" id="dropdown-menu">
                <a href="{% url 'profile' %}" class="dropdown-item">  Ver Perfil</a>
                <a href="{% url 'register' %}" class="dropdown-item">  Registrar Usuario </a>
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item btn btn-link">Cerrar Sesión</button>
                </form>
            </div>
        </div>
    </header>

    <div class="menu__side" id="menu_side">
        <div class="name__page">
            <i class="fa-solid fa-school"></i>
            <h4>Howard Bilingual School</h4>
        </div>
        <div class="options__menu">
            {% csrf_token %}
            <a id="option-raiz" href="/">
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>
            <a id="option-grupo" href="{% url 'grupo' %}">
                <div class="option">
                    <i class="fa-solid fa-user-group" title="Curso"></i>
                    <h4>Grupo</h4>
                </div>
            </a>
            <a id="option-alumno" href="{% url 'alumno' %}">
                <div class="option">
                    <i class="fa-regular fa-user" title="Alumnos"></i>
                    <h4>Alumnos</h4>
                </div>
            </a>
            <a id="option-profesor" href="{% url 'profesor' %}">
                <div class="option">
                    <i class="fa-solid fa-person-chalkboard" title="Profesor"></i>
                    <h4>Profesor</h4>
                </div>
            </a>
            <a id="option-horario" href="{% url 'horario' %}">
                <div class="option">
                    <i class="fa-regular fa-clock" title="Horario"></i>
                    <h4>Horario</h4>
                </div>
            </a>
            <a id="option-tipo-turno" href="{% url 'tipo_turno' %}">
                <div class="option">
                    <i class="fa-regular fa-calendar-days" title="Tipo turno"></i>
                    <h4>Tipo turno</h4>
                </div>
            </a>
            <a id="option-pago" href="{% url 'pago' %}">
                <div class="option">
                    <i class="fa-solid fa-money-bill-1" title="Pago"></i>
                    <h4>Pago</h4>
                </div>
            </a>
            <a id="option-tipo-pago" href="{% url 'tipo_pago' %}">
                <div class="option">
                    <i class="fa-solid fa-dollar-sign" title="Tipo pago"></i>
                    <h4>Tipo pago</h4>
                </div>
            </a>
            <a id="option-reportes" href="{% url 'reportes' %}">
                <div class="option">
                    <i class="fa-solid fa-chart-line" title="Reportes"></i>
                    <h4>Reportes</h4>
                </div>
            </a>
        </div>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- scripts de bootstrap -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> 

    <!-- scripts de fontawesome -->
    <script src="{% static 'js/fontawesome.min.js' %}"></script>
    <script src="{% static 'js/solid.min.js' %}"></script>
    <script src="{% static 'js/brands.min.js' %}"></script>

    <!-- sweetalert2 -->
    <script src="{% static "js/sweetalert2.all.min.js" %}"></script>

    <script src="{% static "js/dashboard.js" %}"></script>
    <script src="{% static "js/helper.js" %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
