{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud</title>
    <link rel="stylesheet" href="{% static "crud-styles.css" %}">
</head>
<body>

<!--Para filtar los resultados-->
<div class="container">
    <header>
        
      <!--Campos a rellenar-->
    <div class="formFields">
       
        <label for="name">Nombres:</label>
        <input type="text" id="name" name="name" required>
        <label for="lastname">Apellidos:</label>
        <input type="text" id="lastname" name="lastname" required>
        <label for="phone">Telefono:</label>
        <input type="tel" id="phone" name="phone" pattern="[0-9]{8}" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="active">Activo:</label>
        <input type="checkbox" id="active" name="active">
        <label for="group_id">Grupo ID:</label>
        <input type="text" id="group_id" name="group_id">
    </div>

     <!--Añadir estudiante-->
    <div class="addMenberbtn">
        
        <button>Guardar</button>
    </div>
        
    </header>

     <!--Filtrar la cantidad seleccionada-->
     <div class="filterEntries">
        <div class="entries">
            Enseñar <select name="" id="table_size">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select> entradas
        </div>
        <!--Filtrar por busqueda-->
        <div class="filter">
            <label for="search">Buscar</label>
            <input type="search" name="" id="search" placeholder="Ingrese un nombre">
        </div>
    </div>
    

    <!--Tabla-->
    <table>
        <thead>
            <!--Titulos de las tablas-->
            <tr class="heading">
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Activo</th>
                <th>Grupo ID</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            

            <tr>
                <td>1</td>
                <td>Juan Pablo</td>
                <td>Munguia Gutierrez</td>
                <td>12345678</td>
                <td>juan.munguia@gmail.com</td>
                <td><input type="checkbox" checked></td> 
                <td>1</td>
                <td>
                    <button><i class="fa-regular fa-eye"></i></button>
                    <button><i class="fa-regular fa-pen-to-square"></i></button>
                    <button><i class="fa-regular fa-trash-can"></i></button>
                </td>
            </tr>
            

            <tr>
                <td>2</td>
                <td>Juan Pablo</td>
                <td>Munguia Gutierrez</td>
                <td>12345678</td>
                <td>juan.munguia@gmail.com</td>
                <td><input type="checkbox" checked></td> 
                <td>1</td>
                <td>
                    <button><i class="fa-regular fa-eye"></i></button>
                    <button><i class="fa-regular fa-pen-to-square"></i></button>
                    <button><i class="fa-regular fa-trash-can"></i></button>
                </td>
                <tr>
                    <td>3</td>
                    <td>Juan Pablo</td>
                    <td>Munguia Gutierrez</td>
                    <td>12345678</td>
                    <td>juan.munguia@gmail.com</td>
                    <td><input type="checkbox" checked></td> <!-- Cambio a un checkbox -->
                    <td>1</td>
                    <td>
                        <button><i class="fa-regular fa-eye"></i></button>
                        <button><i class="fa-regular fa-pen-to-square"></i></button>
                        <button><i class="fa-regular fa-trash-can"></i></button>
                    </td>
                </tr>
            
            
        </tbody>
    </table>
    <!--Botones para ver mas registros-->
    <footer>
        <span>Mostrar del 1 al 10 o 50</span>
        <div class="pagination">
            <button>prev</button>
            <button class="active">1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button>next</button>
        </div>
    </footer>
</div>



    <script
        src="https://kit.fontawesome.com/41308cef7f.js"
        crossorigin="anonymous">
    </script>
</body>
</html>