{% extends "dashboard/index.html" %}
{% block content %}
<div class="container">
    <h2 class="my-4 text-primary">Gestión de Alumnos</h2>

    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#alumnoModal" onclick="openModal('add')">
        Añadir Alumno
    </button>

    <!--modal para alumno-->
    <div id="alumnoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="alumnoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alumnoModalLabel">Añadir Alumno</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="alumnoForm" method="post">
                        {% csrf_token %}
                        <div id="form-fields">
                            {{ form.as_p }}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="submitForm()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Filtrar la cantidad seleccionada -->
    <div class="filterEntries">
        <div class="entries">
            Enseñar <select name="page_size" id="table_size" class="form-control">
                <option value="10" {% if request.GET.page_size == "10" %}selected{% endif %}>10</option>
                <option value="20" {% if request.GET.page_size == "20" %}selected{% endif %}>20</option>
                <option value="50" {% if request.GET.page_size == "50" %}selected{% endif %}>50</option>
                <option value="100" {% if request.GET.page_size == "100" %}selected{% endif %}>100</option>
            </select> entradas
        </div>
        <div class="filter">
            <form id="search-form" method="get" action="/alumno">
                <label for="search">Buscar</label>
                <input type="search" name="search" id="search" placeholder="Ingrese un nombre, apellido, email o nombre de grupo" value="{{ request.GET.search }}" class="form-control">
            </form>
        </div>
    </div>

    <div id="alumno-table">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="heading">
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Activo</th>
                    <th>Grupo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="alumno-table-body">
                {% for alumno in alumnos %}
                    <tr>
                        <td>{{ alumno.nombres }}</td>
                        <td>{{ alumno.apellidos }}</td>
                        <td>{{ alumno.telefono }}</td>
                        <td>{{ alumno.email }}</td>
                        <td>{{ alumno.activo }}</td>
                        <td>{{ alumno.grupo }}</td>
                        <td>
                            <a href="{% url 'alumno_detalle' alumno.id %}" class="btn btn-info btn-sm">Solvencia</a>
                            <button type="button" class="btn btn-sm btn-custom-modify" data-bs-toggle="modal" data-bs-target="#alumnoModal" onclick="openModal('edit', {{ alumno.id }})"><i class="fa-regular fa-pen-to-square"></i></button>
                            <a href="/alumno_delete/{{alumno.id}}" class="btn btn-sm btn-danger"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <footer>
        <span>Mostrar del 1 al {{ alumnos.paginator.per_page }} de {{ alumnos.paginator.count }}</span>
        <div class="pagination">
            {% if alumnos.has_previous %}
                <a href="?page={{ alumnos.previous_page_number }}" class="btn btn-custom">Prev</a>
            {% endif %}

            {% for num in alumnos.paginator.page_range %}
                {% if alumnos.number == num %}
                    <span class="btn btn-custom active">{{ num }}</span>
                {% elif num > alumnos.number|add:'-3' and num < alumnos.number|add:'3' %}
                    <a href="?page={{ num }}" class="btn btn-custom">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if alumnos.has_next %}
                <a href="?page={{ alumnos.next_page_number }}" class="btn btn-custom">Next</a>
            {% endif %}
        </div>
    </footer>
</div>

<script>
    function openModal(action, id=null) {
        let url = '';
        if (action === 'add') {
            url = "{% url 'alumno_add' %}";
            document.getElementById('alumnoModalLabel').innerText = 'Añadir Alumno';
        } else if (action === 'edit') {
            url = `{% url 'alumno_edit' 0 %}`.replace('0', id);
            document.getElementById('alumnoModalLabel').innerText = 'Editar Alumno';
        }
        fetch(url)
            .then(response => response.text())
            .then(html => {
                document.getElementById('form-fields').innerHTML = html;
                document.getElementById('alumnoForm').action = url; 
            });
    }

    function submitForm() {
        const form = document.getElementById('alumnoForm');
        const data = new FormData(form);
        fetch(form.action, {
            method: 'POST',
            body: data,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.reload();
            } else {
                const errors = data.errors;
                for (const [field, messages] of Object.entries(errors)) {
                    const fieldElement = document.querySelector(`[name="${field}"]`);
                    fieldElement.classList.add('is-invalid');
                    const errorContainer = document.createElement('div');
                    errorContainer.className = 'invalid-feedback';
                    errorContainer.innerHTML = messages.join('<br>');
                    fieldElement.parentNode.appendChild(errorContainer);
                }
            }
        });
    }

    document.getElementById('search').addEventListener('input', function() {
        updateTable(this.value);
    });

    document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault();
        updateTable(document.getElementById('search').value);
    });

    document.getElementById('table_size').addEventListener('change', function() {
        const pageSize = this.value;
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('page_size', pageSize);
        window.location.search = urlParams.toString();
    });

    function updateTable(searchValue) {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', `/alumno?search=${searchValue}`, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                const parser = new DOMParser();
                const doc = parser.parseFromString(xhr.responseText, 'text/html');
                const newTableBody = doc.getElementById('alumno-table-body').innerHTML;
                document.getElementById('alumno-table-body').innerHTML = newTableBody;
            }
        };
        xhr.send();
    }
</script>
{% endblock %}
