{% extends "dashboard/index.html" %}

{% block content %}
<div class="container">
    <h2 class="my-4 text-primary">Gestión de Grupos</h2>
    
    <!--modal para alumno-->
    <div id="grupoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="alumnoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="grupoModalLabel">Añadir Grupo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="alumnoForm" method="post">
                        {% csrf_token %}
                        <div id="form-fields">
                            {{ form.as_p }}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="submitForm()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Filtrar la cantidad seleccionada -->
    <div class="filterEntries">
        <div class="entries">
            Enseñar <select name="page_size" id="table_size" class="form-control">
                <option value="10" {% if request.GET.page_size == "10" %}selected{% endif %}>10</option>
                <option value="20" {% if request.GET.page_size == "20" %}selected{% endif %}>20</option>
                <option value="50" {% if request.GET.page_size == "50" %}selected{% endif %}>50</option>
                <option value="100" {% if request.GET.page_size == "100" %}selected{% endif %}>100</option>
            </select> entradas
        </div>
        <!-- Filtrar por busqueda -->
        <div class="filter">
            <form id="search-form" method="get" action="/grupo">
                <label for="search">Buscar</label>
                <input type="search" name="search" id="search" placeholder="Ingrese un nombre, nivel, profesor o horario" value="{{ request.GET.search }}" class="form-control">
            </form>
        </div>
    </div>

    <!-- Tabla -->
    <div id="grupo-table">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="heading">
                    <th>Nombre</th>
                    <th>Nivel</th>
                    <th>Cupo Máximo</th>
                    <th>Horario</th>
                    <th>Profesor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="grupo-table-body">
                {% for grupo in grupos %}
                    <tr>
                        <td>{{ grupo.nombre }}</td>
                        <td>{{ grupo.nivel }}</td>
                        <td>{{ grupo.cupo_maximo }}</td>
                        <td>{{ grupo.horario }}</td>
                        <td>{{ grupo.profesor }}</td>
                        <td>
                            <a href="/grupo/{{grupo.id}}" class="btn btn-sm btn-custom-modify"><i class="fa-regular fa-pen-to-square"></i></a>
                            <a href="/grupo_delete/{{grupo.id}}" class="btn btn-sm btn-danger"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
    <!-- Botones para ver más registros -->
    <footer>
        <span>Mostrar del 1 al 10 o 50</span>
        <div class="pagination">
            {% if grupos.has_previous %}
                <a href="?page={{ grupos.previous_page_number }}" class="btn btn-custom">Prev</a>
            {% endif %}
            {% for num in grupos.paginator.page_range %}
                {% if grupos.number == num %}
                    <span class="btn btn-custom active">{{ num }}</span>
                {% elif num > grupos.number|add:'-5' and num < grupos.number|add:'5' %}
                    <a href="?page={{ num }}" class="btn btn-custom">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if grupos.has_next %}
                <a href="?page={{ grupos.next_page_number }}" class="btn btn-custom">Next</a>
            {% endif %}
        </div>
    </footer>
</div>
{% endblock %}

<script>
    // Función para actualizar la tabla de grupos
    function updateTable(searchValue) {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', `/grupo?search=${searchValue}`, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                const parser = new DOMParser();
                const doc = parser.parseFromString(xhr.responseText, 'text/html');
                const newTableBody = doc.getElementById('grupo-table-body').innerHTML;
                document.getElementById('grupo-table-body').innerHTML = newTableBody;
            }
        };
        xhr.send();
    }

    // Escuchar el evento de entrada en el campo de búsqueda
    document.getElementById('search').addEventListener('input', function() {
        updateTable(this.value);
    });

    // Escuchar el evento de envío del formulario
    document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Evitar el envío del formulario de manera tradicional
        updateTable(document.getElementById('search').value);
    });
</script>
