{% extends "dashboard/index.html" %}

{% block content %}
<div class="container">
    <h2 class="my-4 text-primary">Gestión de Pagos</h2>

    <button type="button" class="btn btn-primary mb-3" onclick="iniciarProcesoDePagos()">
        Añadir Pago
    </button>

    <div class="filterEntries">
        <div class="entries">
            Enseñar <select name="page_size" id="table_size" class="form-control">
                <option value="10" {% if request.GET.page_size == "10" %}selected{% endif %}>10</option>
                <option value="20" {% if request.GET.page_size == "20" %}selected{% endif %}>20</option>
                <option value="50" {% if request.GET.page_size == "50" %}selected{% endif %}>50</option>
                <option value="100" {% if request.GET.page_size == "100" %}selected{% endif %}>100</option>
            </select> entradas
        </div>
        <div class="filter">
            <form id="search-form" method="get" action="/pago">
                <label for="search">Buscar</label>
                <input type="search" name="search" id="search" placeholder="Ingrese un monto, alumno, o tipo de pago" value="{{ request.GET.search }}" class="form-control">
            </form>
        </div>
    </div>

    <div id="pago-table">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="heading">
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Alumno</th>
                    <th>Tipo de Pago</th>
                    <th>Solvencia del Mes</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="pago-table-body">
                {% for pago in pagos %}
                    <tr>
                        <td>{{ pago.fecha }}</td>
                        <td>{{ pago.monto }}</td>
                        <td>{{ pago.alumno }}</td>
                        <td>{{ pago.tipo_pago }}</td>
                        <td>{{ pago.solvencia_mes }}</td>
                        <td>
                            <a href="/pagos/factura/{{pago.id}}" class="btn btn-sm btn-secondary">
                              <i class="fa-solid fa-download" style="margin-right: 0!important;"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <footer>
        <span>Mostrar del 1 al {{ pagos.paginator.per_page }} de {{ pagos.paginator.count }}</span>
        <div class="pagination">
            {% if pagos.has_previous %}
                <a href="?page={{ pagos.previous_page_number }}" class="btn btn-custom">Prev</a>
            {% endif %}

            {% for num in pagos.paginator.page_range %}
                {% if pagos.number == num %}
                    <span class="btn btn-custom active">{{ num }}</span>
                {% elif num > pagos.number|add:'-3' and num < pagos.number|add:'3' %}
                    <a href="?page={{ num }}" class="btn btn-custom">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if pagos.has_next %}
                <a href="?page={{ pagos.next_page_number }}" class="btn btn-custom">Next</a>
            {% endif %}
        </div>
    </footer>
</div>

<script>
    document.getElementById('search').addEventListener('input', function() {
        updateTable(this.value);
    });

    document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault();
        updateTable(document.getElementById('search').value);
    });

    document.getElementById('table_size').addEventListener('change', function() {
        const pageSize = this.value;
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('page_size', pageSize);
        window.location.search = urlParams.toString();
    });

    function updateTable(searchValue) {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', `/pago?search=${searchValue}`, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                const parser = new DOMParser();
                const doc = parser.parseFromString(xhr.responseText, 'text/html');
                const newTableBody = doc.getElementById('pago-table-body').innerHTML;
                document.getElementById('pago-table-body').innerHTML = newTableBody;
            }
        };
        xhr.send();
    }

    const iniciarProcesoDePagos = () => {
      localStorage.removeItem('tipo_pago');
      localStorage.removeItem('alumno')
      window.location.href = '/pagos';
    };
</script>

{% endblock %}
