{% extends "dashboard/index.html" %}

{% block content %}
<div class="container">
    <h2 class="my-4 text-primary">Gestión de Pagos</h2>
    
    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#pagoModal" onclick="openModal('add')">
        Añadir Pago
    </button>

    <div id="pagoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="pagoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pagoModalLabel">Añadir Pago</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="pagoForm" method="post">
                        {% csrf_token %}
                        <div id="form-fields">
                            {{ form.as_p }}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="submitForm()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="filterEntries">
        <div class="entries">
            Enseñar <select name="page_size" id="table_size" class="form-control">
                <option value="10" {% if request.GET.page_size == "10" %}selected{% endif %}>10</option>
                <option value="20" {% if request.GET.page_size == "20" %}selected{% endif %}>20</option>
                <option value="50" {% if request.GET.page_size == "50" %}selected{% endif %}>50</option>
                <option value="100" {% if request.GET.page_size == "100" %}selected{% endif %}>100</option>
            </select> entradas
        </div>
        <div class="filter">
            <form id="search-form" method="get" action="/pago">
                <label for="search">Buscar</label>
                <input type="search" name="search" id="search" placeholder="Ingrese un monto, alumno, o tipo de pago" value="{{ request.GET.search }}" class="form-control">
            </form>
        </div>
    </div>

    <div id="pago-table">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="heading">
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Alumno</th>
                    <th>Tipo de Pago</th>
                    <th>Solvencia del Mes</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="pago-table-body">
                {% for pago in pagos %}
                    <tr>
                        <td>{{ pago.fecha }}</td>
                        <td>{{ pago.monto }}</td>
                        <td>{{ pago.alumno }}</td>
                        <td>{{ pago.tipo_pago }}</td>
                        <td>{{ pago.solvencia_mes }}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-custom-modify" data-toggle="modal" data-target="#pagoModal" onclick="openModal('edit', {{ pago.id }})"><i class="fa-regular fa-pen-to-square"></i></button>
                            <a href="/pago_delete/{{pago.id}}" class="btn btn-sm btn-danger"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <footer>
        <span>Mostrar del 1 al {{ pagos.paginator.per_page }} de {{ pagos.paginator.count }}</span>
        <div class="pagination">
            {% if pagos.has_previous %}
                <a href="?page={{ pagos.previous_page_number }}" class="btn btn-custom">Prev</a>
            {% endif %}

            {% for num in pagos.paginator.page_range %}
                {% if pagos.number == num %}
                    <span class="btn btn-custom active">{{ num }}</span>
                {% elif num > pagos.number|add:'-3' and num < pagos.number|add:'3' %}
                    <a href="?page={{ num }}" class="btn btn-custom">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if pagos.has_next %}
                <a href="?page={{ pagos.next_page_number }}" class="btn btn-custom">Next</a>
            {% endif %}
        </div>
    </footer>
</div>

<script>
    function openModal(action, id=null) {
        let url = '';
        if (action === 'add') {
            url = "{% url 'pago_add' %}";
            document.getElementById('pagoModalLabel').innerText = 'Añadir Pago';
        } else if (action === 'edit') {
            url = `{% url 'pago_edit' 0 %}`.replace('0', id);
            document.getElementById('pagoModalLabel').innerText = 'Editar Pago';
        }
        fetch(url)
            .then(response => response.text())
            .then(html => {
                document.getElementById('form-fields').innerHTML = html;
                document.getElementById('pagoForm').action = url; // actualizar el action del formulario
            });
    }

    function submitForm() {
        const form = document.getElementById('pagoForm');
        const data = new FormData(form);
        fetch(form.action, {
            method: 'POST',
            body: data,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.reload(); // Recargar la página si la operación fue exitosa
            } else {
                // Manejar errores
                const errors = data.errors;
                for (const [field, messages] of Object.entries(errors)) {
                    const fieldElement = document.querySelector(`[name="${field}"]`);
                    fieldElement.classList.add('is-invalid');
                    const errorContainer = document.createElement('div');
                    errorContainer.className = 'invalid-feedback';
                    errorContainer.innerHTML = messages.join('<br>');
                    fieldElement.parentNode.appendChild(errorContainer);
                }
            }
        });
    }

    document.getElementById('search').addEventListener('input', function() {
        updateTable(this.value);
    });

    document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault();
        updateTable(document.getElementById('search').value);
    });

    document.getElementById('table_size').addEventListener('change', function() {
        const pageSize = this.value;
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('page_size', pageSize);
        window.location.search = urlParams.toString();
    });

    function updateTable(searchValue) {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', `/pago?search=${searchValue}`, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                const parser = new DOMParser();
                const doc = parser.parseFromString(xhr.responseText, 'text/html');
                const newTableBody = doc.getElementById('pago-table-body').innerHTML;
                document.getElementById('pago-table-body').innerHTML = newTableBody;
            }
        };
        xhr.send();
    }
</script>
{% endblock %}
