<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud</title>
    <script src="https://kit.fontawesome.com/41308cef7f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    
<!--Para filtar los resultados-->
<div class="container">
    <header>
        
      <!--Campos a rellenar-->
    <div class="formFields">
        <label for="name">Nombres:</label>
        <input type="text" id="name" name="name" required>
        <label for="Lname">Apellidos:</label>
        <input type="text" id="Lname" name="Lname" required>
        <label for="estd">Estudios:</label>
        <input type="text" id="estd" name="estd" required>
        <label for="exp">Experiencia:</label>
        <input type="number" id="exp" name="exp"  required>
    </div>

     <!--Añadir estudiante-->
    <div class="addMenberbtn">
        
        <button>Añadir Profesor</button>
    </div>
        
    </header>

     <!--Filtrar la cantidad seleccionada-->
     <div class="filterEntries">
        <div class="entries">
            Enseñar <select name="" id="table_size">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select> entradas
        </div>
        <!--Filtrar por busqueda-->
        <div class="filter">
            <label for="search">Buscar</label>
            <input type="search" name="" id="search" placeholder="Ingrese un nombre">
        </div>
    </div>
    

    <!--Tabla-->
    <table>
        <thead>
            <!--Titulos de las tablas-->
            <tr class="heading">
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Estudios</th>
                <th>Experiencia</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            

            <tr>
                <td>1</td>
                <td>Hector jose</td>
                <td>Montoya</td>
                <td>De todo un poco</td>
                <td>20</td>
                <td>
                    <button><i class="fa-regular fa-eye"></i></button>
                    <button><i class="fa-regular fa-pen-to-square"></i></button>
                    <button><i class="fa-regular fa-trash-can"></i></button>
                </td>
            </tr>
            
            
        </tbody>
    </table>
    <!--Botones para ver mas registros-->
    <footer>
        <span>Mostrar del 1 al 10 o 50</span>
        <div class="pagination">
            <button>prev</button>
            <button class="active">1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button>next</button>
        </div>
    </footer>
</div>




</body>
</html>