{% extends "dashboard/index.html" %}

{% block content %}
<div class="container">
    <h2 class="my-4 text-primary">Gestión de Tipos de Pago</h2>

    <div class="header-content">
        <form method='post'>
            {% csrf_token %}
            <div class="formFields">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    {{ form.nombre }}
                    {% if form.nombre.errors %}
                        <div class="alert alert-danger">{{ form.nombre.errors }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="addMenberbtn">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>

    <!-- Filtrar la cantidad seleccionada -->
    <div class="filterEntries">
        <div class="entries">
            Enseñar <select name="" id="table_size" class="form-control">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select> entradas
        </div>
        <!-- Filtrar por búsqueda -->
        <div class="filter">
            <form id="search-form" method="get" action="/tipo_pago">
                <label for="search">Buscar</label>
                <input type="search" name="search" id="search" placeholder="Ingrese un nombre" value="{{ request.GET.search }}" class="form-control">
            </form>
        </div>
    </div>

    <!-- Tabla -->
    <div id="tipo_pago-table">
        <table class="table table-striped">
            <thead class="thead-dark">
                <!-- Títulos de las tablas -->
                <tr class="heading">
                    <th style="width: 80%;">Nombre</th>
                    <th style="width: 20%;">Acciones</th>
                </tr>
            </thead>
            <tbody id="tipo_pago-table-body">
                {% for tipo_pago in tipos_pago %}
                    <tr>
                        <td>{{ tipo_pago.nombre }}</td>
                        <td>
                            <a href="/tipo_pago/{{tipo_pago.id}}" class="btn btn-sm btn-custom-modify"><i class="fa-regular fa-pen-to-square"></i></a>
                            <a href="/tipo_pago_delete/{{tipo_pago.id}}" class="btn btn-sm btn-danger"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
    <!-- Botones para ver más registros -->
    <footer>
        <span>Mostrar del 1 al 10 o 50</span>
        <div class="pagination">
            <button class="btn btn-custom">Prev</button>
            <button class="btn btn-custom active">1</button>
            <button class="btn btn-custom">2</button>
            <button class="btn btn-custom">3</button>
            <button class="btn btn-custom">4</button>
            <button class="btn btn-custom">5</button>
            <button class="btn btn-custom">Next</button>
        </div>
    </footer>
</div>
{% endblock %}

<script>
    // Función para actualizar la tabla de tipos de pago
    function updateTable(searchValue) {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', `/tipo_pago?search=${searchValue}`, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                const parser = new DOMParser();
                const doc = parser.parseFromString(xhr.responseText, 'text/html');
                const newTableBody = doc.getElementById('tipo_pago-table-body').innerHTML;
                document.getElementById('tipo_pago-table-body').innerHTML = newTableBody;
            }
        };
        xhr.send();
    }

    // Escuchar el evento de entrada en el campo de búsqueda
    document.getElementById('search').addEventListener('input', function() {
        updateTable(this.value);
    });

    // Escuchar el evento de envío del formulario
    document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Evitar el envío del formulario de manera tradicional
        updateTable(document.getElementById('search').value);
    });
</script>
