{% extends "dashboard/index.html" %}

{% block content %}
<div class="container">
    <h2 class="my-4 text-primary">Gestión de Tipos de Pago</h2>

    <div class="header-content">
        <form method='post'>
            {% csrf_token %}
            <div class="formFields">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    {{ form.nombre }}
                    {% if form.nombre.errors %}
                        <div class="alert alert-danger">{{ form.nombre.errors }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="addMenberbtn">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>

    <!-- Filtrar la cantidad seleccionada -->
    <div class="filterEntries">
        <div class="entries">
            Enseñar <select name="page_size" id="table_size" class="form-control">
                <option value="10" {% if request.GET.page_size == "10" %}selected{% endif %}>10</option>
                <option value="20" {% if request.GET.page_size == "20" %}selected{% endif %}>20</option>
                <option value="50" {% if request.GET.page_size == "50" %}selected{% endif %}>50</option>
                <option value="100" {% if request.GET.page_size == "100" %}selected{% endif %}>100</option>
            </select> entradas
        </div>
        <!-- Filtrar por búsqueda -->
        <div class="filter">
            <form id="search-form" method="get" action="/tipo_pago">
                <label for="search">Buscar</label>
                <input type="search" name="search" id="search" placeholder="Ingrese un nombre" value="{{ request.GET.search }}" class="form-control">
            </form>
        </div>
    </div>

    <!-- Tabla -->
    <div id="tipo-pago-table">
        <table class="table table-striped">
            <thead class="thead-dark">
                <!-- Títulos de las tablas -->
                <tr class="heading">
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tipo-pago-table-body">
                {% for tipo_pago in tipos_pago %}
                    <tr>
                        <td>{{ tipo_pago.nombre }}</td>
                        <td>
                            <a href="/tipo_pago/{{tipo_pago.id}}" class="btn btn-sm btn-custom-modify"><i class="fa-regular fa-pen-to-square"></i></a>
                            <a href="/tipo_pago_delete/{{tipo_pago.id}}" class="btn btn-sm btn-danger"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
    <!-- Botones para ver más registros -->
    <footer>
        <span>Mostrar del 1 al {{ tipos_pago.paginator.per_page }} o {{ tipos_pago.paginator.count }}</span>
        <div class="pagination">
            {% if tipos_pago.has_previous %}
                <a href="?page={{ tipos_pago.previous_page_number }}&search={{ request.GET.search }}&page_size={{ request.GET.page_size }}" class="btn btn-custom">Prev</a>
            {% endif %}

            {% for num in tipos_pago.paginator.page_range %}
                {% if tipos_pago.number == num %}
                    <span class="btn btn-custom active">{{ num }}</span>
                {% elif num > tipos_pago.number|add:'-3' and num < tipos_pago.number|add:'3' %}
                    <a href="?page={{ num }}&search={{ request.GET.search }}&page_size={{ request.GET.page_size }}" class="btn btn-custom">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if tipos_pago.has_next %}
                <a href="?page={{ tipos_pago.next_page_number }}&search={{ request.GET.search }}&page_size={{ request.GET.page_size }}" class="btn btn-custom">Next</a>
            {% endif %}
        </div>
    </footer>
</div>
{% endblock %}

<script>
    // Función para actualizar la tabla de tipos de pago
    function updateTable(searchValue) {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', `/tipo_pago?search=${searchValue}`, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                const parser = new DOMParser();
                const doc = parser.parseFromString(xhr.responseText, 'text/html');
                const newTableBody = doc.getElementById('tipo-pago-table-body').innerHTML;
                document.getElementById('tipo-pago-table-body').innerHTML = newTableBody;
            }
        };
        xhr.send();
    }

    // Escuchar el evento de entrada en el campo de búsqueda
    document.getElementById('search').addEventListener('input', function() {
        updateTable(this.value);
    });

    // Escuchar el evento de envío del formulario
    document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Evitar el envío del formulario de manera tradicional
        updateTable(document.getElementById('search').value);
    });

    // Cambiar el número de entradas mostradas
    document.getElementById('table_size').addEventListener('change', function() {
        const pageSize = this.value;
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('page_size', pageSize);
        window.location.search = urlParams.toString();
    });
</script>
