{% extends "dashboard/index.html" %}

{% block content %}
    <!--Para filtar los resultados-->
    <div class="container">
        <div class="header-content">
            <!--Campos a rellenar-->
            <form method="post"> 
                {% csrf_token %}
                <div class="formFields">
                    <label for="nombre">Nombre:</label>
                    {{form.nombre}}
                </div>
                <!--Añadir estudiante-->
                <div class="addMenberbtn">
                    <button type="submit">Guardar</button>
                </div>
            </form>
        </div>
        
        <!--Filtrar la cantidad seleccionada-->
        <div class="filterEntries">
            <div class="entries">
                Enseñar <select name="" id="table_size">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select> entradas
            </div>
            <!--Filtrar por busqueda-->
            <div class="filter">
                <label for="search">Buscar</label>
                <input type="search" name="" id="search" placeholder="Ingrese un nombre">
            </div>
        </div>
        
        <!--Tabla-->
        <table>
            <thead>
                <!--Titulos de las tablas-->
                <tr class="heading">
                    <th>Nombre Pago</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for tipo_pago in tipos_pago %}
                <tr>
                    <td>{{ tipo_pago.nombre }}</td>
                    <td>
                        <a href="{% url 'tipo_pago_edit' id=tipo_pago.id %}"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a href="{% url 'tipo_pago_delete' id=tipo_pago.id %}"><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <!--Botones para ver mas registros-->
        <footer>
            <span>Mostrar del 1 al 10 o 50</span>
            <div class="pagination">
                <button>prev</button>
                <button class="active">1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <button>next</button>
            </div>
        </footer>
    </div>
{% endblock %}
