{% extends "dashboard/index.html" %}

{% block content %}
<div class="container">
    <h2 class="my-4 text-primary">Gestión de Tipo Turno</h2>

    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#tipoturnoModal" onclick="openModal('add')">
        Añadir Tipo Turno
    </button>

    <div id="tipoturnoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tipoturnoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tipoturnoModalLabel">Añadir Tipo Turno</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="tipoturnoForm" method="post">
                        {% csrf_token %}
                        <div id="form-fields">
                            {{ form.as_p }}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="submitForm()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Filtrar la cantidad seleccionada -->
    <div class="filterEntries">
        <div class="entries">
            Enseñar <select name="page_size" id="table_size" class="form-control">
                <option value="10" {% if request.GET.page_size == "10" %}selected{% endif %}>10</option>
                <option value="20" {% if request.GET.page_size == "20" %}selected{% endif %}>20</option>
                <option value="50" {% if request.GET.page_size == "50" %}selected{% endif %}>50</option>
                <option value="100" {% if request.GET.page_size == "100" %}selected{% endif %}>100</option>
            </select> entradas
        </div>
        <!-- Filtrar por búsqueda -->
        <div class="filter">
            <form id="search-form" method="get" action="/tipo_turno">
                <label for="search">Buscar</label>
                <input type="search" name="search" id="search" placeholder="Ingrese días, hora de entrada, hora de salida o formato" value="{{ request.GET.search }}" class="form-control">
            </form>
        </div>
    </div>

    <!-- Tabla -->
    <div id="tipo-turno-table">
        <table class="table table-striped">
            <thead class="thead-dark">
                <!-- Títulos de las tablas -->
                <tr class="heading">
                    <th>Días</th>
                    <th>Hora de Entrada</th>
                    <th>Hora de Salida</th>
                    <th>Formato</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tipo-turno-table-body">
                {% for tipo_turno in tipos_turnos %}
                    <tr>
                        <td>{{ tipo_turno.dias }}</td>
                        <td>{{ tipo_turno.hora_entrada }}</td>
                        <td>{{ tipo_turno.hora_salida }}</td>
                        <td>{{ tipo_turno.formato }}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-custom-modify" data-bs-toggle="modal" data-bs-target="#tipoturnoModal" onclick="openModal('edit', {{ tipo_turno.id }})"><i class="fa-regular fa-pen-to-square"></i></button>
                            <a href="/tipo_turno_delete/{{tipo_turno.id}}" class="btn btn-sm btn-danger"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
    <!-- Botones para ver más registros -->
    <footer>
        <span>Mostrar del 1 al {{tipos_turnos.paginator.per_page}} de {{tipos_turnos.paginator.count}}</span>
        <div class="pagination">
            {% if tipos_turnos.has_previous %}
                <a href="?page={{ tipos_turnos.previous_page_number }}" class="btn btn-custom">Prev</a>
            {% endif %}

            {% for num in tipos_turnos.paginator.page_range %}
                {% if tipos_turnos.number == num %}
                    <span class="btn btn-custom active">{{ num }}</span>
                {% elif num > tipos_turnos.number|add:'-3' and num < tipos_turnos.number|add:'3' %}
                    <a href="?page={{ num }}" class="btn btn-custom">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if tipos_turnos.has_next %}
                <a href="?page={{ tipos_turnos.next_page_number }}" class="btn btn-custom">Next</a>
            {% endif %}
        </div>
    </footer>
</div>

<script>

    function openModal(action, id=null) {
        let url = '';
        if (action === 'add') {
            url = "{% url 'tipo_turno_add' %}";
            document.getElementById('tipoturnoModalLabel').innerText = 'Añadir Profesor';
        } else if (action === 'edit') {
            url = `{% url 'tipo_turno_edit' 0 %}`.replace('0', id);
            document.getElementById('tipoturnoModalLabel').innerText = 'Editar Profesor';
        }
        fetch(url)
            .then(response => response.text())
            .then(html => {
                document.getElementById('form-fields').innerHTML = html;
                document.getElementById('tipoturnoForm').setAttribute('action', url);
            });
    }

    function submitForm() {
        const form = document.getElementById('tipoturnoForm');
        const data = new FormData(form);
        fetch(form.action, {
            method: 'POST',
            body: data,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.reload();
            } else {
                const errors = data.errors;
                for (const [field, messages] of Object.entries(errors)) {
                    const fieldElement = document.querySelector(`[name="${field}"]`);
                    fieldElement.classList.add('is-invalid');
                    const errorContainer = document.createElement('div');
                    errorContainer.className = 'invalid-feedback';
                    errorContainer.innerHTML = messages.join('<br>');
                    fieldElement.parentNode.appendChild(errorContainer);
                }
            }
        });
    }


    // Escuchar el evento de entrada en el campo de búsqueda
    document.getElementById('search').addEventListener('input', function() {
        updateTable(this.value);
    });

    // Escuchar el evento de envío del formulario
    document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Evitar el envío del formulario de manera tradicional
        updateTable(document.getElementById('search').value);
    });

    // Cambiar el número de entradas mostradas
    document.getElementById('table_size').addEventListener('change', function() {
        const pageSize = this.value;
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('page_size', pageSize);
        window.location.search = urlParams.toString();
    });

    // Función para actualizar la tabla de tipos de turno
    function updateTable(searchValue) {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', `/tipo_turno?search=${searchValue}`, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                const parser = new DOMParser();
                const doc = parser.parseFromString(xhr.responseText, 'text/html');
                const newTableBody = doc.getElementById('tipo-turno-table-body').innerHTML;
                document.getElementById('tipo-turno-table-body').innerHTML = newTableBody;
            }
        };
        xhr.send();
    }
    
</script>

{% endblock %}
