{% extends "dashboard/index.html" %}

{% block content %}
<div class="container">
    <h2 class="my-4 text-primary">Reportes</h2>

    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card card-custom mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Alumnos</h5>
                    <p class="card-text">{{ total_alumnos }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-custom mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Profesores</h5>
                    <p class="card-text">{{ total_profesores }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-custom mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Grupos</h5>
                    <p class="card-text">{{ total_grupos }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-custom mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Pagos</h5>
                    <p class="card-text">{{ total_pagos }}</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="my-4">
        <canvas id="pagosChart"></canvas>
    </div>

    <h3 class="my-4 text-primary">Pagos por Mes</h3>
    <div class="table-responsive mb-4">
        <!-- Filtrar por búsqueda -->
        <div class="filter">
            <form id="search-form" method="get" action="/reportes">
                <label for="search_pagos">Buscar Pagos</label>
                <input type="search" name="search_pagos" id="search_pagos" placeholder="Ingrese año o mes" value="{{ request.GET.search_pagos }}" class="form-control">
            </form>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Año</th>
                    <th>Mes</th>
                    <th>Total Pagos</th>
                </tr>
            </thead>
            <tbody>
                {% for pago in pagos_fecha %}
                <tr>
                    <td>{{ pago.fecha__year }}</td>
                    <td>
                        {% if pago.fecha__month == 1 %}Enero{% elif pago.fecha__month == 2 %}Febrero
                        {% elif pago.fecha__month == 3 %}Marzo{% elif pago.fecha__month == 4 %}Abril
                        {% elif pago.fecha__month == 5 %}Mayo{% elif pago.fecha__month == 6 %}Junio
                        {% elif pago.fecha__month == 7 %}Julio{% elif pago.fecha__month == 8 %}Agosto
                        {% elif pago.fecha__month == 9 %}Septiembre{% elif pago.fecha__month == 10 %}Octubre
                        {% elif pago.fecha__month == 11 %}Noviembre{% elif pago.fecha__month == 12 %}Diciembre
                        {% endif %}
                    </td>
                    <td>{{ pago.total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h3 class="my-4 text-primary">Registro de Cambios</h3>
    <div class="table-responsive">
        <div class="filter">
            <form id="search-form" method="get" action="/reportes">
                <label for="search">Buscar</label>
                <input type="search" name="search" id="search" placeholder="Ingrese un usuario, modelo o descripción" value="{{ request.GET.search }}" class="form-control">
            </form>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Acción</th>
                    <th>Modelo</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody id="logs-table-body">
                {% for log in logs %}
                    <tr>
                        <td>{{ log.action_time }}</td>
                        <td>{{ log.user }}</td>
                        <td>
                            {% if log.action_flag == ADDITION %}
                                Creación
                            {% elif log.action_flag == CHANGE %}
                                Modificación
                            {% elif log.action_flag == DELETION %}
                                Eliminación
                            {% endif %}
                        </td>
                        <td>{{ log.content_type }}</td>
                        <td>{{ log.object_repr }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Botones para ver más registros -->
    <footer>
        <span>Mostrar del 1 al {{ logs.paginator.per_page }} o {{ logs.paginator.count }}</span>
        <div class="pagination">
            {% if logs.has_previous %}
                <a href="?page={{ logs.previous_page_number }}&search={{ request.GET.search }}&page_size={{ request.GET.page_size }}" class="btn btn-custom">Prev</a>
            {% endif %}

            {% for num in logs.paginator.page_range %}
                {% if logs.number == num %}
                    <span class="btn btn-custom active">{{ num }}</span>
                {% elif num > logs.number|add:'-3' and num < logs.number|add:'3' %}
                    <a href="?page={{ num }}&search={{ request.GET.search }}&page_size={{ request.GET.page_size }}" class="btn btn-custom">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if logs.has_next %}
                <a href="?page={{ logs.next_page_number }}&search={{ request.GET.search }}&page_size={{ request.GET.page_size }}" class="btn btn-custom">Next</a>
            {% endif %}
        </div>
    </footer>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    
    var ctx = document.getElementById('pagosChart').getContext('2d');
    var meses = JSON.parse('{{ meses|escapejs }}');
    var totales = JSON.parse('{{ totales|escapejs }}');
    var pagosChart = new Chart(ctx, {
        type: 'bar', // Tipo de gráfico
        data: {
            labels: meses,
            datasets: [{
                label: 'Total de Pagos por Mes',
                data: totales,
                backgroundColor: 'rgba(3, 7, 10, 0.6)',
                borderColor: 'rgba(3, 7, 10, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}


