{% extends "dashboard/index.html" %}

{% block content %}
<div class="container">
    <h2 class="my-4 text-primary">Reportes</h2>

    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card card-custom mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Alumnos</h5>
                    <p class="card-text">{{ total_alumnos }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-custom mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Profesores</h5>
                    <p class="card-text">{{ total_profesores }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-custom mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Grupos</h5>
                    <p class="card-text">{{ total_grupos }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-custom mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Pagos</h5>
                    <p class="card-text">{{ total_pagos }}</p>
                </div>
            </div>
        </div>
    </div>

    <h3 class="my-4 text-primary">Pagos por Mes</h3>
    <div class="table-responsive mb-4">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Mes</th>
                    <th>Total Pagos</th>
                </tr>
            </thead>
            <tbody>
                {% for pago in pagos_por_mes %}
                    <tr>
                        <td>{{ pago.fecha__month }}</td>
                        <td>{{ pago.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h3 class="my-4 text-primary">Registro de Cambios</h3>
    <div class="table-responsive">
        <div class="filterEntries mb-3">
            <div class="entries">
                Enseñar <select name="page_size" id="table_size" class="form-control">
                    <option value="10" {% if request.GET.page_size == "10" %}selected{% endif %}>10</option>
                    <option value="20" {% if request.GET.page_size == "20" %}selected{% endif %}>20</option>
                    <option value="50" {% if request.GET.page_size == "50" %}selected{% endif %}>50</option>
                    <option value="100" {% if request.GET.page_size == "100" %}selected{% endif %}>100</option>
                </select> entradas
            </div>
            <!-- Filtrar por búsqueda -->
            <div class="filter">
                <form id="search-form" method="get" action="/reportes">
                    <label for="search">Buscar</label>
                    <input type="search" name="search" id="search" placeholder="Ingrese un usuario, modelo o descripción" value="{{ request.GET.search }}" class="form-control">
                </form>
            </div>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Acción</th>
                    <th>Modelo</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody id="logs-table-body">
                {% for log in logs %}
                    <tr>
                        <td>{{ log.action_time }}</td>
                        <td>{{ log.user }}</td>
                        <td>
                            {% if log.action_flag == ADDITION %}
                                Creación
                            {% elif log.action_flag == CHANGE %}
                                Modificación
                            {% elif log.action_flag == DELETION %}
                                Eliminación
                            {% endif %}
                        </td>
                        <td>{{ log.content_type }}</td>
                        <td>{{ log.object_repr }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Botones para ver más registros -->
    <footer>
        <span>Mostrar del 1 al {{ logs.paginator.per_page }} o {{ logs.paginator.count }}</span>
        <div class="pagination">
            {% if logs.has_previous %}
                <a href="?page={{ logs.previous_page_number }}&search={{ request.GET.search }}&page_size={{ request.GET.page_size }}" class="btn btn-custom">Prev</a>
            {% endif %}

            {% for num in logs.paginator.page_range %}
                {% if logs.number == num %}
                    <span class="btn btn-custom active">{{ num }}</span>
                {% elif num > logs.number|add:'-3' and num < logs.number|add:'3' %}
                    <a href="?page={{ num }}&search={{ request.GET.search }}&page_size={{ request.GET.page_size }}" class="btn btn-custom">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if logs.has_next %}
                <a href="?page={{ logs.next_page_number }}&search={{ request.GET.search }}&page_size={{ request.GET.page_size }}" class="btn btn-custom">Next</a>
            {% endif %}
        </div>
    </footer>
</div>
{% endblock %}

<script>
    // Función para actualizar la tabla de reportes
    function updateTable(searchValue) {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', `/reportes?search=${searchValue}`, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                const parser = new DOMParser();
                const doc = parser.parseFromString(xhr.responseText, 'text/html');
                const newTableBody = doc.getElementById('logs-table-body').innerHTML;
                document.getElementById('logs-table-body').innerHTML = newTableBody;
            }
        };
        xhr.send();
    }

    // Escuchar el evento de entrada en el campo de búsqueda
    document.getElementById('search').addEventListener('input', function() {
        updateTable(this.value);
    });

    // Escuchar el evento de envío del formulario
    document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Evitar el envío del formulario de manera tradicional
        updateTable(document.getElementById('search').value);
    });

    // Cambiar el número de entradas mostradas
    document.getElementById('table_size').addEventListener('change', function() {
        const pageSize = this.value;
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('page_size', pageSize);
        window.location.search = urlParams.toString();
    });
</script>
